version: 2.1
jobs:
  build:
    docker:
      - image: circleci/node:16.10
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints:
            - "bc:d2:5e:7f:09:af:26:fd:7c:3b:64:d3:7f:ac:da:69"
      - run:
          name: Setup VirtualEnv
          command: |
            echo 'DATABASE_URL="${DATABASE_URL}"' >> .env
            echo 'REDIS_URL="${REDIS_URL}"' >> .env
            echo 'PORT="${PORT}"' >> .env
            echo 'SESSION_SECRET="${SESSION_SECRET}"' >> .env
            echo 'CORS_ORIGIN="${CORS_ORIGIN}"' >> .env
            echo 'AWS_ACCESS_KEY_ID="${AWS_ACCESS_KEY_ID}"' >> .env
            echo 'AWS_SECRET_ACCESS_KEY="${AWS_SECRET_ACCESS_KEY}"' >> .env
            echo 'AWS_DEFAULT_REGION="${AWS_DEFAULT_REGION}"' >> .env
            echo 'COURSE_SESSION_BUCKETNAME="${COURSE_SESSION_BUCKETNAME}"' >> .env
            echo 'SENDGRID_API_KEY="${SENDGRID_API_KEY}"' >> .env
            echo 'TO_MAIL="${TO_MAIL}"' >> .env
            echo 'TO_NAME="${TO_NAME}"' >> .env
            echo 'ENV="${ENV}"' >> .env
            echo 'S3_URL="${S3_URL}"' >> .env
            echo 'TYPEORM_CONNECTION="${TYPEORM_CONNECTION}"' >> .env
            echo 'TYPEORM_HOST="${TYPEORM_HOST}"' >> .env
            echo 'TYPEORM_USERNAME="${TYPEORM_USERNAME}"' >> .env
            echo 'TYPEORM_PASSWORD="${TYPEORM_PASSWORD}"' >> .env
            echo 'TYPEORM_DATABASE="${TYPEORM_DATABASE}"' >> .env
            echo 'TYPEORM_PORT="${TYPEORM_PORT}"' >> .env
            echo 'TYPEORM_LOGGING="${TYPEORM_LOGGING}"' >> .env
            echo 'TYPEORM_ENTITIES="${TYPEORM_ENTITIES}"' >> .env
            echo 'TYPEORM_MIGRATIONS="${TYPEORM_MIGRATIONS}"' >> .env
      - setup_remote_docker:
          version: 19.03.13
      - run:
          name: Build and push Docker image
          command: |
            TAG="0.1.${CIRCLE_BUILD_NUM}"
            echo $TAG
            docker build -t asciperu/$IMAGE_NAME:$TAG .
            echo $DOCKER_PWD | docker login -u $DOCKER_LOGIN --password-stdin
            docker push asciperu/$IMAGE_NAME:$TAG
      - run:
          name: Deploy app to Digital Ocean Server via Docker
          command: |
            TAG="0.1.${CIRCLE_BUILD_NUM}"
            echo $TAG
            ssh -o StrictHostKeyChecking=no root@$VPS "docker pull asciperu/$IMAGE_NAME:$TAG && docker tag asciperu/$IMAGE_NAME:$TAG dokku/api:$TAG && dokku tags:deploy api $TAG"
